<h1>Edit Song</h1>
<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p><label>Name<input type="text" name="song[name]" id="name" value="<%=@song.name%>"></label></p>
  <p><label>Artist Name<input type="text" name="artist[name]" id="artist_name" value="<%=@song.artist.name%>"></label></p>
  <%Genre.all.each do |genre|%>
    <p><label>Genre:
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>" <%=@song.genres.include?(genre) ? "checked" : ""%>>
    </label></p>
  <%end%>
  <input type="submit" value="Save">
</form>
